# Database
DATABASE_URL="postgresql://user:password@localhost:5432/healthplus_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production"
